body {
	margin: 0;
	padding: 0;

	font-family: pt_sansregular ;
	font-weight: normal;
	font-size: 14px;
  line-height: 26px;
	text-transform: uppercase;

	background-color: white;
}

a {
	text-decoration: none;
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	background-color: white;
	font-weight: bold;
}

.site-navigation,
.features-item,
.description-list {
	list-style: none;
}

.main-navigation a {
	color: black;
}

.main-caption h1 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.description-item {
	background-color: #81b3d2;
	position: center;
	color: white;
}

.features-list {
	position: relative;
	width: 1200px;
	display: flex;
}

.features-list p {
	margin: 0;
	padding: 0;
	margin-bottom: 88px;
}

.features-list h3 {
	margin: 0;
	padding: 0;
	padding-top: 164px;
	padding-bottom: 34px;
}

.features-list li:nth-child(1)::before {
	position: absolute;
	content: '';
	width: 75px;
	height: 72px;
	background-image: url(img/xata.svg);
	left: 162px;
	top: 60px;
}

.features-item {
	line-height: 21px;
	background-color: white;
	text-align: center;
}

.features-item {
	width: 400px;
}

.reason-item {
	background-color: #f2f2f2;
	text-align: center;
}

.button {
	display: block;
	font: inherit;
	margin: 0 auto;
	font-weight: bold;
	text-transform: uppercase;
}

.sneaky-form {
	width: 568px;
	height: 100px;

	font-size: 21px;
	line-height: 26px;

	color: #ffffff;
	background-color: #766357;
	border: none;
}

.sneaky-form button:active {

}

.appointment-form {
	display: none;
}

.site-navigation a:hover {
	color: #81b3d2;
}
.site-navigation a:active {
	color: gray;
}
